{
  "extends": ["stylelint-config-standard", "stylelint-config-sass-guidelines"],
  "rules": {
    "selector-max-compound-selectors": null,
    "order/properties-alphabetical-order": null,
    "no-descending-specificity": null
  }
}
